* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container img {
  max-width: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: 600;
}

.nav-bar-menu-container svg {
  font-size: 25px;
  cursor: pointer;
}

.primary-button {
  border-radius: 20px;
  padding: 0.9rem 1.75rem;
  border: none;
  background-color: rgba(247, 182, 193);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-button:hover {
  background-color: #6cd5d7;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 5rem;
}
.home-bannerImage-container {
  position: absolute;
  right: -100px;
  right: -150px;
  z-index: -2;
  max-width: 100%;
}

.home-image-section {
  flex: 2;
  display: flex;
}

.home-primary-image img {
  width: 720px;
  height: 640px;
  object-fit: cover;
  margin-left: 170px;
}

.secundary-button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65dcdc;
  transition: all 0.3s;
}

.secundary-button:hover {
  background-color: #65dcdc8b;
}

/* Quando a tela for até 1000px renderizmaos Mobile */
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

/* Quando a tela for até 800 renderizmaos Mobile */
@media (max-width: 800px) {
  /* NavBar Component */
  .nav-logo-container {
    max-width: 100px;
  }

  .navbar-links-container {
    display: none; /* apaga e deixa só menu hambu*/
  }

  .nav-bar-menu-container {
    display: flex; /* menu hambu aparece*/
  }

  /* Home Components*/
  .home-bannerImage-container {
    max-width: 450px;
    right: -10px; /* Traz a imagem de volta para a borda da tela */
    top: -50px; /* Ajuste a altura se precisar */
  }

  .home-primary-image img {
    width: 376px;
    height: 314px;
    object-fit: cover;
    margin-left: 5px;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse; /* inverte a imagem vai para topo e html em baixo */
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }

  .about-section-image-container img {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .primary-text {
    text-align: center;
  }

  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 0 !important;
  }

  .secundary-button {
    font-size: 16px;
    padding: 15px 32px;
    cursor: pointer;
  }
}


@media (max-width: 600px) {
  .home-bannerImage-container, .about{

  }
}